body {
  font-family: 'Roboto',
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}



.container {
  display: flex;
  flex-direction: column;
  width: 1060px;
  height: 340px;
  border: 8px solid black;
  padding: 10px 0;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#escape {
  background-color: #e034ef;
}

#backspace {
  width: 124px;
}

#tab,
#backslash {
  width: 88px;
}

#caps {
  width: 108px;
}

#enter {
  width: 144px;
}

#shiftL {
  width: 144px;
  background-color: #efe034;
}

#shiftR {
  width: 184px;
  background-color: #efe034;
}

#ctrlL,
#ctrlR {
  width: 68px;
  background-color: #e034ef;
}

#start {
  width: 68px;
  background-color: #5EC057;
}

#altL,
#altR {
  width: 68px;
  background-color: #7365B5;
}

#fn1,
#fn2 {
  width: 68px;
  background-color: #34efe0;
}

#space {
  width: 448px;
}

.key {
  width: 48px;
  height: 56px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.pressed {
  border: 4px solid red;
}

.lTop {
  position: relative;
  bottom: 5px;
  right: 10px;
}

.rMid {
  position: relative;
  left: 10px;
  bottom: 25px
}