body {
  font-family: 'Roboto',
    sans-serif;
  color: whitesmoke;
  background-color: darkslategray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

.text-container {
  display: flex;
  align-items: flex-end;
  text-align: center;
  font-size: 40px;
  margin: 50px;
  height: 300px;
  max-width: 1100px;
}

.text {
  opacity: 0;
  -webkit-transition: opacity 3.5s ease-in;
  -moz-transition: opacity 3.5s ease-in;
  -ms-transition: opacity 3.5s ease-in;
  -o-transition: opacity 3.5s ease-in;
  transition: opacity 3.5s ease-in;
}

.fade {
  opacity: 1;
    -webkit-transition: opacity 3s ease-in;
    -moz-transition: opacity 3s ease-in;
    -ms-transition: opacity 3s ease-in;
    -o-transition: opacity 3s ease-in;
    transition: opacity 3s ease-in;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1100px;
  height: 340px;
  border: 8px solid black;
  border-radius: 5px;
  padding: 10px 0;
  background: linear-gradient(270deg, #9400d3, #4b0082, #0000ff, #00ff00, #ffff00, #ff7f00, #ff0000);
  background-size: 1400% 1400%;

  animation: backlight 60s ease infinite;
}

@keyframes backlight {
  0% {
    background-position: 0% 0%
  }

  50% {
    background-position: 100% 100%
  }

  100% {
    background-position: 0% 0%
  }
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#escape {
  background-color: #e034ef;
  border: 1px solid #781c80
}

#backspace {
  width: 124px;
}

#tab,
#backslash {
  width: 88px;
}

#caps {
  width: 108px;
}

#enter {
  width: 144px;
}

#shiftL {
  width: 144px;
  background-color: #efe034;
  border: 1px solid #80781c;
}

#shiftR {
  width: 184px;
  background-color: #efe034;
  border: 1px solid #80781c;
}

#ctrlL,
#ctrlR {
  width: 68px;
  background-color: #e034ef;
  border: 1px solid #781c80
}

#start {
  width: 68px;
  background-color: #5EC057;
  border: 1px solid #3e8039
}

#altL,
#altR {
  width: 68px;
  background-color: #7365B5;
  border: 1px solid #413966;
}

#fn1,
#fn2 {
  width: 68px;
  background-color: #34efe0;
}

#space {
  width: 448px;
}

.key {
  width: 48px;
  height: 56px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #191919;
  text-align: center;
  transition: all .07s ease;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 1);
}

.pressed {
  transform: scale(0.9);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 1);
}

.lTop {
  position: relative;
  bottom: 5px;
  right: 10px;
}

.rMid {
  position: relative;
  left: 10px;
  bottom: 25px
}